body {
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.content {
  margin: 0 auto;
  margin-top: 50px;
  width: 56%;
}

form, table {
  margin-bottom: 5%;
}

input {
  display: block;
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgba(0, 0, 0, 0.24);
}

tr {
  border-bottom: 1px solid black;
}

tr:first-child {
  border-top: 1px solid black;
}

a {
  margin-left: 15px;
  display: inline-block;
  width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 3px 0;
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.24);
}

a:hover {
  opacity: 0.5;
}

.breadcrumb {
  width: 150px;
}

.messages {
  border: 0;
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: rgba(228, 163, 148, 0.70);
  opacity: 0.7;
  width: 100%;
  line-height: 0.5;
}

.messages li {
  color: rgba(195, 66, 63, 0.83);
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.025em;
  text-align: center;
  border-bottom: none;
}
